.title{
    margin-left: 40%;
    margin-bottom: 20px;
    /* background-color:rgba(0, 0, 0, 0.05); */
    width: 21%;
    font-family: 'Caesar Dressing';
    color: white;
    text-shadow: 1.2px 1.2px 1.2px coral;
}
.headers{
    margin: 10px;
}

table {
    width: 80%;
    border: 1px solid yellow;
    align-self: center;
    margin-left: 10%;
  }
/*
th.id {
    width: 10%;
    text-align: left;
    font-size: 16px;
    border: 1px solid black;
}
th.state, th.district {
    width: 15%;
    text-align: left;
    font-size: 16px;
    border: 1px solid black;
}
th.address, th.name {
    width: 30%; /* Not necessary, since only 70% width remains */
    /*text-align: left;
    font-size: 16px;
    border: 1px solid black;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}*/


#school {
  /*font-family: "Caesar Dressing";*/
  border-collapse: collapse;
  width: 74%;
  margin-left: 14%;
}

#school td, #school th {
  border: 1px solid black;
  padding: 8px;
}

#school tr:nth-child(even){background-color: #C6E2FF;}
#school tr:nth-child(odd){background-color: #C6E2FF;}

#school tr:hover {background-color: #ffffff;}

#school th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #B0E0E6;
  color: black;
  width: 10%;
  
}

label{
    width: 10%;
}
.infield{
    margin: 2%;
}
.button{
    border: 1px solid #90C2FC;
    background-color: black;
    width: 10%;
    color: #90C2FC;
    font-size: 20px;
    margin-bottom: 5%;

}
body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h5{
    color: white;
    text-shadow: 0.5px 0.5px 0.5px coral;
}

h3{
  font-family: 'Caesar Dressing';
  color: white;
}

.button {
  border-radius: 4px;
  background-color:#B0E0E6;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
