<!-- <div style="background-color:rgba(0, 0, 0, 0.05);"> -->
  <div>
  <div>
    <h1 class='title' (click) = "BackToHome()">Sparsh Books</h1>
  </div>
  <!-- <table style="width: 80%;
  border-collapse: collapse;
  background-color: white;
  color: black;
  margin-left: 10%;" rules="value"> -->
  <table id = "school">
  <div class="table-responsive">     
      <!-- <thead> -->
        <tr>
          <th class='id'>School ID</th>
          <th class='name'>School Name</th>
          <th class='district'>District</th>
          <th class='state'>State</th>
          <th class='address'>Address</th>
          
        </tr>
      <!-- </thead> -->
     <!--  <tbody> -->
        <tr *ngFor="let employee of Data">
          <td (click)="toSchoolPage(employee.school_id)"  style="border: 1px solid black;">{{ employee.school_id }}</td>
          <td style="border: 1px solid black;">{{ employee.school_name }}</td>
          <td style="border: 1px solid black;">{{ employee.district }}</td>
          <td style="border: 1px solid black;">{{ employee.state }}</td>
          <td style="border: 1px solid black;">{{ employee.address }}</td>
         
      <!-- </tbody> -->
  </div>
</table>
  <!-- <p style="    border: 1px solid #90C2FC;
  background-color: black;
  width: 26%;
  color: #90C2FC;
  font-size: 20px;
  margin-left: 10%;text-align: center;">Add new School From Here
  </p> -->
  <br>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
<!-- <a href="#" class="btn btn-success" role="button">Add New School</a> -->
<h3> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;ADD NEW SCHOOL:</h3>
  <!-- <form (ngSubmit)="insertSchool()">
      School Name :<br/> <input type="text" ng-model="schoolName">
      <br/>
      District :<br/> <input type="text" ng-model="district">
      <br/>
      state :<br/> <input type="text" ng-model="state">
      <br/>
      Address :<br/> <input type="text" ng-model="Address">
      <br/><br/>
    <button style="border: 1px solid black;
      background-color: black;
      /* width: 20%; */
      color: #90C2FC;
      width: 15%;
      font-size: 20px;" ng-click = "insertSchool()">Add School
    </button>
  </form> -->
  <form [formGroup]="checkoutForm" (ngSubmit)="insertSchool(checkoutForm.value)" style="margin-left: 10%;">
      <div class='infield'>
        <label for="name">
          <h5>Name:</h5> 
        </label>
        <input id="name" type="text" formControlName="school_name" >
      </div>
      
        <div class='infield'>
          <label for="address">
            <h5>Address:</h5> 
          </label>
          <input id="address" type="text" formControlName="address">
        </div>

        <div class='infield'>
            <label for="district">
              <h5>District:</h5> 
            </label>
            <input id="district" type="text" formControlName="district" >
        </div>
        
        <div class='infield'>
          <label for="state">
            <h5>State:</h5>
          </label>
          <input id="state" type="text" formControlName="state">
        </div>
      <br/>
      <button class="button"><span><b>Add </b></span></button>
      <!-- <a href="#" class="btn btn-info" role="button">Add</a> -->
  </form>
</div>

  


