.title{
    margin-left: 40%;
    margin-bottom: 40px;
    /* background-color:rgba(0, 0, 0, 0.05); */
    width: 40%;
    font-family: 'Caesar Dressing';
    color: white;
    text-shadow: 1.2px 1.2px 1.2px coral;
}
.headers{
    margin: 10px;
}

table {
    width: 100%;
    /*border: 1px solid #000;*/
    border: 1px solid yellow;
  }

th.id {
    width: 10%;
    text-align: left;
    font-size: 16px;
    border: 1px solid black;
}
th.state, th.district {
    width: 15%;
    text-align: left;
    font-size: 16px;
    border: 1px solid black;
}
th.address, th.name {
    width: 30%; /* Not necessary, since only 70% width remains */
    text-align: left;
    font-size: 16px;
    border: 1px solid black;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
input[type='submit'], /* to hide password*/
label{
    width: 10%;
}
.infield{
    margin: 2%;
}
/*.button{
    border: 1px solid #90C2FC;
    background-color: black;
    width: 10%;
    color: #90C2FC;
    font-size: 20px;
    margin-bottom: 5%;

}*/

body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h3{
  text-shadow: 1.2px 1.2px 1.2px coral;
}
h5{
    color: #C8C8C8;
    text-shadow: 0.5px 0.5px 0.5px coral;
}
.button {
  border-radius: 4px;
  background-color:#B0E0E6;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}