<!-- <div style="background-color:rgba(0, 0, 0, 0.05);"> -->
  <div>
    <div>
      <h1 class='title'>Sparsh Books</h1>
    </div>
    <div>
      <!-- <span (click)="togglesignup()" style="    border: 1px solid #90C2FC;
      background-color: black;
      width: 26%;
      color: #90C2FC;
      font-size: 20px;
      margin-left: 10%;text-align: center;">Sign up
      </span> -->
      &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
       &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; 
       <button class="button"><span>Sign Up </span></button>
      <!-- <a (click)="togglesignup()" class="btn btn-success" role="button">Sign Up</a> -->
      <!-- <span (click)="togglelogin()" style="    border: 1px solid #90C2FC;
      background-color: black;
      width: 26%;
      color: #90C2FC;
      font-size: 20px;
      margin-left: 10%;text-align: center;">Login
      </span> -->
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <!-- <a (click)="togglelogin()" class="btn btn-success" role="button">Sign In</a> -->
      <button class="button"><span>Sign In </span></button>
    </div>
    <div *ngIf="signup;">
    <!-- <div> -->
      <form [formGroup]="signupform" (ngSubmit)="signUp(signupform.value)" style="margin-left: 10%;">
          <div class='infield'>
            <label for="name">
              <h5>Name:</h5> 
            </label>
            <input id="name" type="text" formControlName="name">
          </div>
          
            <div class='infield'>
              <label for="address">
                <h5>Address:</h5> 
              </label>
              <input id="address" type="text" formControlName="phone">
            </div>
    
            <div class='infield'>
                <label for="district">
                  <h5>District:</h5> 
                </label>
                <input id="district" type="text" formControlName="email">
            </div>
            
            <div class='infield'>
              <label for="state">
                <h5>State:</h5>
              </label>
              <input id="state" type="text" formControlName="password">
            </div>
          <br/>
          <!-- <button class="button" type="submit">Add</button> -->
          <!-- <button href="#" class="btn btn-info" type="submit">Add</button> -->
          <button class="button"><span>Add </span></button>
      </form>
    </div>

    <div *ngIf="login">
    <!-- <div> -->
      <form [formGroup]="loginform" (ngSubmit)="logIn(loginform.value)" style="margin-left: 10%;">
        <div class='infield'>
          <label for="name">
            <h5>Email Or Phone:</h5>
          </label>
          <input id="name" type="text" formControlName="email">
        </div>
        
          <div class='infield'>
            <label for="address">
              <h5>Password:</h5>
            </label>
            <input id="name" type="password" formControlName="password" >

            <!-- <input id = "name" type="password" id="pass" name="password" minlength="8" required style = "margin-left: 1%";> -->
          </div>
          &nbsp; &nbsp;
       <!-- <button class="btn btn-success" type="submit">Add</button> -->
       <!-- <button class="button" type="submit">Add</button> -->
       <button class="button"><span>Add</span></button>
      </form>
    </div>
  </div>
  
    
  
  
  