<div style="background-color:rgba(0, 0, 0, 0.05);">
    <div>
      <h1 class='title'>Sparsh Books</h1>
    </div>
    <div>
      <span (click)="togglesignup()" style="    border: 1px solid #90C2FC;
      background-color: black;
      width: 26%;
      color: #90C2FC;
      font-size: 20px;
      margin-left: 10%;text-align: center;">Sign up
      </span>
      <span (click)="togglelogin()" style="    border: 1px solid #90C2FC;
      background-color: black;
      width: 26%;
      color: #90C2FC;
      font-size: 20px;
      margin-left: 10%;text-align: center;">Login
      </span>
    </div>
    <div *ngIf="signup;">
    <!-- <div> -->
      <form [formGroup]="signupform" (ngSubmit)="signUp(signupform.value)" style="margin-left: 10%;">
          <div class='infield'>
            <label for="name">
              Name : 
            </label>
            <input id="name" type="text" formControlName="name" style="margin-left: 1%;">
          </div>
          
            <div class='infield'>
              <label for="address">
                Address : 
              </label>
              <input id="address" type="text" formControlName="phone">
            </div>
    
            <div class='infield'>
                <label for="district">
                  District : 
                </label>
                <input id="district" type="text" formControlName="email" style="margin-left: 0.4%;">
            </div>
            
            <div class='infield'>
              <label for="state">
                State :
              </label>
              <input id="state" type="text" formControlName="password" style="margin-left: 1.7%;">
            </div>
          <br/>
          <button class="button" type="submit">Add</button>
      </form>
    </div>

    <div *ngIf="login">
    <!-- <div> -->
      <form [formGroup]="loginform" (ngSubmit)="signUp(loginform.value)" style="margin-left: 10%;">
        <div class='infield'>
          <label for="name">
            Email Or Phone : 
          </label>
          <input id="name" type="text" formControlName="email" style="margin-left: 1%;">
        </div>
        
          <div class='infield'>
            <label for="address">
              Password : 
            </label>
            <input id="name" type="text" formControlName="password" style="margin-left: 1%;">
          </div>
        <button class="button" type="submit">Add</button>
      </form>
    </div>
  </div>
  
    
  
  
  