<h1 class='title'>Sparsh Books</h1>
<div class='functionalities'>
  <span class='enter' (click)="AddSchool()">Add School</span>
  <span class='enter' (click)="AddClass()">Add Class</span>
  <span class='enter' (click)="AddItem()">Enter Item</span>
  <span class='enter' (click)="AddItem()">Enter Order</span>
</div>
<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Item Name</th>
      <th>type</th>
      <th>available</th>
      <th>To Be Ordered</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of Data">
      <td>{{ employee.order_id }}</td>
      <td>{{ employee.item_name }}</td>
      <td>{{ employee.item_type }}</td>
      <td>{{ employee.available_stock }}</td>
      <td>{{ employee.tobeordered }}</td>
    </tr>
  </tbody>
</table>
